<style>
input[type=file]{
  padding: 3px;
}
</style>
<!-- Content Wrapper -->
<%//JSON.stringify(data)%>
<div id="content-wrapper" class="d-flex flex-column">
	
  <!-- Main Content -->
	<div id="content">

		  <!-- Header -->
	  	<%- include('partials/header.ejs') -%>
	  	<!-- End of Header -->

	  	<!-- Begin Page Content -->
  		<div class="container-fluid">
			  <div class="card shadow mb-4">
            <div class="card-header py-3">
              <div class="col-md-6" style="float:left">
                <h5 class="m-0 font-weight-bold text-primary">Events List</h5>
              </div>
              <div class="col-md-6" style="float:right;margin-right: -375px;">
                <button class="addMedia" style="color:white;background-color:#224abe;" data-toggle="modal" data-target="#addMediaModal">Add Events</button>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered" id="gallery_datatable" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>S.No</th>	
                      <th>Location</th>
                      <th>Description</th>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Media</th>
                      <th>Action</th>                     
                    </tr>
                  </thead>
                  <tfoot>
                    <tr>
                      <th>S.No</th> 
                      <th>Location</th>
                      <th>Description</th>
                      <th>Date</th>
                      <th>Time</th>
                      <th>Media</th>
                      <th>Action</th>                      
                    </tr>
                  </tfoot>
                  <tbody>
                   <%for(var i=0; i<data.length; i++) {%> 
                      <tr>
                        <td><%=i+1%></td>
                        <td><%=data[i].location %></td>
                        <td><%=data[i].description %></td>
                        <td><%=moment(data[i].date).format('DD-MM-YYYY') %></td>
                        <td><%=data[i].time %></td>
                        <td>
                          <% if(data[i].media_url !='' && data[i].media_url !=null) {%>
                            <div class="row m-<%=i%>">
                              <div class="small-12 medium-2 large-2 columns">
                                <div class="circle">              
                                  <img class="mySlides" src="<%=data[i].media_url %>" style="width:100%">
                                </div>
                              </div>
                            </div>
                          <%  } %>
                        </td>  
                        <td style="width:20%">
                          <a style="background-color:#e18932;color:white;padding:5px;" href="/admin/deleteEvents/<%= data[i].id %>" >Delete</a>
                        </td>
                      </tr>
                    <% } %>    
                  </tbody>                  
                </table>
              </div>
            </div>
        </div>
		  </div>
      <!-- End Page Content -->
	</div>
  <!-- Add Media Modal -->
  <div class="modal fade" id="addMediaModal" tabindex="-1" role="dialog" aria-labelledby="addMediaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addMediaModalLabel">Add Gallery</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="profile-notification-msg p-2">
                <p class="successmsg"><%= messages.successmsg %></p>
                <p class="errormsg"><%= messages.errormsg %></p>
              </div>
              <form class="addEventForm" name="addEventForm" method="POST" enctype="multipart/form-data" action="/admin/addEvent">
                <div class="form-group">
                  <label>Location</label>
                  <input type="text" class="form-control" name="location" placeholder="Enter Location"/>
                </div>
                <div class="form-group">
                  <label>Description</label>
                  <input type="text" class="form-control" name="description" placeholder="Enter Description"/>
                </div>
                <div class="form-group">
                  <label>Appointment Date</label>
                  <div class='input-group date' id='datetimepicker1' style="background: #fff; cursor: pointer;  border: 1px solid #ccc; width: 100%">
                      <input type='text' name="datepicker" class="form-control" style="border:0px;width: 75%;"/>
                      <span class="input-group-addon" style="padding-top: 8px;padding-right: 5px;">
                          <!--<span class="glyphicon glyphicon-calendar"></span>-->
                          <span class="fa fa-calendar"></span>
                      </span>
                  </div>
                </div>
              <div class="form-group">
                <label>Appointment Time</label>
                <div class='input-group time' id='datetimepicker2' style="background: #fff; cursor: pointer; border: 1px solid #ccc; width: 100%">
                    <input type='text' name="timepicker" class="form-control" style="border:0px;width: 75%;"/>
                    <span class="input-group-addon" style="padding-top: 8px;padding-right: 5px;">
                        <span class="fa fa-clock"></span>
                        <!--<span class="glyphicon glyphicon-time"></span>-->
                    </span> 
                </div>
              </div>                                  
                <div class="form-group">
                  <label>Media</label>
                  <input type="file" class="form-control" name="fileInput"/>
                </div>              
                <div class="form-group text-center">  
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                  <button class="btn btn-primary" type="submit">Submit</button>
                </div>
              </form>
            </div>
            
          </div>
        </div>
  </div>
  <!-- // Add Media Modal -->
  <!-- Add More Media Modal -->
  <div class="modal fade" id="addMoreMediaModal" tabindex="-1" role="dialog" aria-labelledby="addMoreMediaModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="addMoreMediaModalLabel">Add More Media</h5>
              <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="profile-notification-msg p-2">
                <p class="successmsg"><%= messages.successmsg %></p>
                <p class="errormsg"><%= messages.errormsg %></p>
              </div>
              <form class="addMoreMediaForm" name="addMoreMediaForm" method="POST" enctype="multipart/form-data" action="/admin/addMedia">
                <div class="form-group">
                  <label>Media</label>
                  <input type="file"  class="form-control"  name="fileInput"/>
                </div>  
                <input type="hidden" name="gallery_id" id="gallery_id" />            
                <div class="form-group text-center">  
                  <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                  <button class="btn btn-primary" type="submit">Submit</button>
                </div>
              </form>
            </div>
            
          </div>
        </div>
  </div>

